/* html,body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(192, 171, 171);
}
#my-flex{
    display: flex;
    flex-direction: row;
    margin: 30px;
    justify-content: space-around;
    
    
    
}
.wist{
    flex-grow: 2;
    
} */
.header,.nav{
    display: flex;
    flex-direction: column;

} 
.header{
    justify-content: space-between;
}
.nav{
    flex: 1;
    justify-content: space-around;

}
@media  only screen and(min-width:640px) {
    .header, .nav{
        flex-direction: row;
    }

}
